<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
        
    <style>
        .jumbotron{
            width: 50%;
            text-align: center;
            margin: 5% auto;
            padding: 1%;
        }
        .table{
            border-top: 1%;
        }
        .table th{
            text-align: center;
        }
        .form-control{
            margin-bottom: 3%;
        }
        .selecionado{
            background-color: #bdc3c7;
            color: white;
            transition: all .2s;
        }
        .negrito{font-weight: bold;}
    </style>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome : "Rodrigo", telefone: "987784959", cor: "green"},
                {nome : "Sara", telefone: "999784959", cor: "deeppink"},
                {nome : "Jéssica", telefone: "987784954", cor: "yellow"}
            ];
            $scope.operadoras = [
                {nome : "Oi", codigo: 14, categoria: "Celular"},
                {nome : "Tim", codigo: 41, categoria: "Celular"},
                {nome : "Vivo", codigo: 15, categoria: "Celular"},
                {nome : "GVT", codigo: 25, categoria: "Fixo"},
                {nome : "Embratel", codigo: 21, categoria: "Fixo"}
            ];
            $scope.adicionarContato = function(contato){
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };
            $scope.apagarContatos = function(contatos){
                $scope.contatos = contatos.filter(function(contato){
                    if(!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function(contatos){
                return contatos.some(function (contato){
                    return contato.selecionado;
                });
            };
            
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h1>{{app}}</h1>
        
        <table class="table" ng-show="contatos.length > 0">
            <thead> <tr> <th>Marcar <th>Nome <th>Telefone <th>Operadora <th>Cor
            <tbody> <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos"> <td><input type="checkbox" ng-model="contato.selecionado"> 
                <td>{{contato.nome}} 
                <td>{{contato.telefone}} 
                <td>{{contato.operadora.nome}} 
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
            <!--<td ng-repeat="(key, value) in contato">{{value}}-->
        </table>
        <hr>
        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="(xx) x xxxx-xxxx" ng-required="true" ng-pattern="/^\d{2}\d{4,5}-\d{4}$/"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" ng-required="true">
                <option value="" ng-disabled="true">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">

            <div ng-message="required">
                Por favor preencha o nome do contato.
            </div>
            <div ng-message="minlength">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>

        </div>

        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Por favor preencha o telefone do contato.
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            O campo telefone deve ter o formato xx xxxxx-xx
        </div>
        <!--Botoes de controle-->
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar aos contatos</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
    </div>

    <div ng-include="'footer.html'"></div>
    
</body>
</html>